html {
    font-family: "Roboto Light", "Helvetica", sans-serif;
}

a {
    color: #76aebd;
    text-decoration: none;
}

a:visited {
    color: #466770;
}

.container {
    margin: auto;
    color: #f0f0f0;
    max-width: 70vw;
    align-self: center;
}

.posts-column {
    margin-left: 20vw;
}

.posts ul, .posts li {
    list-style-type: none;
    list-style-position: outside;
    margin-left: -40px;
}

body {
    background-color: #162124;
    margin: 0;    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 48px;
    overflow: hidden;
    background-color: #2c6587;
}

nav li {
    float: left;
    font-size: 20px;
    vertical-align: middle;
    border-right: 1px solid #f0f0f0;
}

#name {
    font-size: 28px;
    margin-top: -5px;
    color: #162124;
}

nav li a {
    display: block;
    padding: 11.5px 15px;
    text-align: center;    
    text-decoration: none;
    color: #f0f0f0;
}

nav li a:visited {
    color: #f0f0f0;
}

nav li a:hover {
    background-color: #264354;
}