body {
    background-color: #121212;
		color: #EEEEEE;

}

.main_text{
	position: fixed;
	text-align: center;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

.unsupported{
	position: fixed;
	text-align: center;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}


.left_text{
	position: fixed;
	left: 33%;
	top: 35%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

.right_text{
	position: fixed;
	left: 66%;
	top: 35%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

@font-face{
	font-family: "GohuFont";
	src: url("../css/gohufont.ttf");
}


.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link {
    color: #eeeeee;
		text-decoration: none;
}

/* visited link */
a:visited {
    color: #eeeeee;
		text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #eeeeee;
		text-decoration: none;
}

/* selected link */
a:active {
    color: #eeeeee;
		text-decoration: none;
}
