.body {
    background-color: #121212;
		color: #EEEEEE;

}

.main_text{
	position: fixed;
	text-align: center;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}
