.body {
    background-color: #121212;
		color: #EEEEEE;
		font-size: 14px;


}

.header_text{
	position: fixed;
	font-family: "GohuFont", gohufont, serif;
}

.title{
	position: fixed;
	text-align: center;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

.main_text{
	position: fixed;
	text-align: center;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

.post_text{
	position: absolute;
	text-align: left;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
