body {

  background-color: #121212;
	color: #EEEEEE;
	font-size: 14px;
}

.main_text{
	position: absolute;
	text-align: center;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

.header_text{
	position: fixed;
	font-family: "GohuFont", gohufont, serif;
}

.unsupported{
	position: fixed;
	text-align: center;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}


.left_text{
	position: absolute;
	left: 3%;
	top: 10%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

.right_text{
	position: absolute;
	left: 85%;
	top: 10%;
	transform: translateX(-50%);
	font-family: "GohuFont", gohufont, serif;
}

@font-face{
	font-family: "GohuFont";
	src: url("../css/gohufont.ttf");
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #121212;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link {
    color: #eeeeee;
		text-decoration: none;
}

/* visited link */
a:visited {
    color: #eeeeee;
		text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #eeeeee;
		text-decoration: none;
}

/* selected link */
a:active {
    color: #eeeeee;
		text-decoration: none;
}
