
@font-face {
    font-family: beef;
    src: url(new/beef.ttf);
}
body {
  font-family: 'beef';
  line-height: 150%;
}

#footer {
    position:fixed;
    bottom:0;
}

.center{
    text-align: center;
}

.title{
    color:#808088;
}
.subtitle{
    color:#3c3c4a;
}
.icons{
    font-size: 45px;
}

.iconheader{
    text-align: right;
    margin: 10px;
    font-size: 30px;
}
.nowrap{
  white-space: nowrap;
}

hr {
  border-color: #808088;
}

.textbody{
  margin-right: 15%;
  margin-left: 15%;
  font-size: 75%;
}

table, th, td{
  padding: 15px;
  color: #808088;
}
/*dsfasdf*/
