.keepmiddle {
    position: absolute;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);
}
@font-face {
    font-family: beef;
    src: url(new/beef.ttf);
}
body {
  font-family: 'beef';
  line-height: 150%;
}

#footer {
    position:fixed;
    bottom:0;
}

.center{
    text-align: center;
    margin-top:20%;
}

.title{
    color:#808088;
}
.subtitle{
    color:#3c3c4a;
}
.icons{
    font-size: 45px;
}

.iconheader{
    text-align: right;
    margin: 10px;
    font-size: 30px;
}
/*dsfasdf*/
